@{
    ViewData["Title"] = "Home";
}

<section id="rocket">
    <rocket asp-prerender-module="www/app/main">Loading</rocket>
</section>

@section Scripts{
    <script>
        System.config({
            packages: {
                app: { defaultExtension: 'js' },
                lib: { defaultExtension: 'js' }
            }
        });
        System.import('app/main')
            .then(null, console.error.bind(console));
    </script>
}